﻿@model ReCourseWork.Models.order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.added_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.added_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_shipped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_shipped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.fname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.order_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
