﻿@model IEnumerable<ReCourseWork.Models.order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.added_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipment_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_shipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer.fname)
        </th>*@


        <th>
            @Html.DisplayNameFor(model => model.added_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipment_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_shipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer)
        </th>
        <th>
            Price
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.added_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipment_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_shipped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer)
        </td>
        <td>
            @item.order_item.Sum(oi => oi.product.price_per_item * oi.quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_id })
        </td>
    </tr>
}

</table>
