﻿@model IEnumerable<ReCourseWork.Models.address>

@{
    ViewBag.Title = "Adresses";
}

<h2>Adresses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer.fname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer.fname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.address_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.address_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.address_id })
        </td>
    </tr>
}

</table>
